*{
    margin: 0;
    padding: 0;
}
.outer{
    width: 6.4rem;
    height: 11.36rem;
    background-color: #effbff;
}
.top{
    position: relative;
    width: 6.4rem;
    height: 3.59rem;
    background: url("../../images/bgBlue1.png");
    background-size: contain;
}
.img{
    display: inline-block;
    position: absolute;
    top:.44rem ;
    left: .36rem;
}
.userName{
    position: absolute;
    width: .54rem;
    height: .25rem;
    font-size: .26rem;
    color: #FAFDFB;
    left: 2.25rem;
    top: .88rem;
}
.userId{
    position: absolute;
    width: .77rem;
    height: .22rem;
    font-size: .22rem;
    color: #FAFDFB;
    left: 2.25rem;
    top: 1.35rem;
}
.noun{
    position: absolute;
    width: 1rem;
    height: .51rem;
    font-size: .55rem;
    color: #FF8A61;
    right: .47rem;
    top: .48rem;
}
.counts{
    position: absolute;
    width: 1rem;
    height: .51rem;
    font-size: .22rem;
    color: #FAFDFB;
    right: .10rem;
    top:1.3rem;
}
.content{
    position: absolute;
    width: 4.29rem;
    height: .32rem;
    font-size: .33rem;
    color: #FFF67F;
    left: 1.5rem;
    top:2.2rem;
}
.conIndex{
    position: absolute;
    width: 1.78rem;
    height: .53rem;
    background-color: #FF8A63;
    border-radius: .2rem;
    font-size: .27rem;
    color: #FFFFFF;
    left: 2.30rem;
    top:2.75rem;
    text-align: center;
    line-height: .53rem;
}
.imgVoted,.imgV{
    width: 5.82rem;
    height: .45rem;
    margin-left: .14rem;
}