*{
    margin: 0;
    padding: 0;
}
.outer{
    width: 6.4rem;
    height: 11.4rem;
    background-color: #effbff;
}
.imgDiv{
    /*display: inline-block;
    width: 5.86rem;
    height: .46rem;*/
}
.img{
    display: inline-block;
    width: 5.86rem;
    height: .46rem;
    margin-left: .18rem;
}
.contents{
    font-size: .28rem;
    color: #2B2A2B;
    line-height: .7rem;
    margin: .7rem  1.08rem  7.54rem 1.12rem;
}